body{
background-color: #C9EEFF;
font-style: normal;
font-family: 'Montserrat', sans-serif;
font-weight: 100;
font-variant-ligatures: normal;
font-size: 1rem;
letter-spacing: 1%;
text-align: center;
}

h3{
color: #66BFBF;
margin-bottom:2%;

}

h4{
float:left;
padding:0;
}

hr{
border-color:grey;
width:85%;
height:0;}



img{
float:left;
margin: 2% auto 2% auto;
}

ol{
margin:0 40% 0;
text-align:left;
width:50%;
}

table,
td{
margin:0 auto 2% auto;
text-align:left;
border-spacing:0 0;
border-color:grey;
border-collapse:collapse;
border-width:6.25%;
}

table,
th{
margin:0 auto 2% auto;
text-align:left;
border-spacing:125% 0;
border-collapse:collapse;
border-color:grey;
border-width:6.25%;
padding:0 0 0 187.5%;
}

.in{
margin:0 auto 2% auto;
text-align:left;
border-spacing:125% 0;
border-collapse:collapse;
border-color:grey;
border-width:6.25%;
padding:0 0 0 187.5%;
}
